<button matButton (click)="onToggleShowDeclensions()">{{ showHideDeclensionText }}</button>
@for (word of words(); track word) {
  <mat-card appearance="outlined" class="word-card">
    <mat-card-header>
      <mat-card-title>{{ word.title }}</mat-card-title>
      <mat-card-subtitle>{{ word.translation }}</mat-card-subtitle>
      <mat-card-actions>
        <!-- TODO When login system is available, add possibility to save words -->
        <button matButton style="position: absolute; top: 5px; right: 10px; box-shadow: 0;">SAVE</button>
      </mat-card-actions>
    </mat-card-header>
    @if (areDeclensionsShown) {
      <mat-card-content>
        <app-declension-table [word]="word" />
      </mat-card-content>
    }
  </mat-card>
}
