.mat-column-cases {
  position: relative;
  width: 20%;
  border-right: 1px solid currentColor;
  text-align: center;
}

.mat-column-singular {
  position: relative;
  width: 40%;
  border-right: 1px solid currentColor;
}

.mat-column-plural {
  position: relative;
  width: 40%;
}
